<app-nav-item></app-nav-item>
<div class="container">
    <app-create-project-progress></app-create-project-progress>
    <div class="row">
        <div class="col-sm-12">
            <a>+ Add task</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            TASKS
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button class="btn btn-outline-primary mr-3" routerLink='/create-project-members'>Back</button>
            <button class="btn btn-outline-success" routerLink='/create-project-complete'>Finish</button>
        </div>
    </div>
</div>