.tabbar {
    height: 62px;
    background-color: #E2F1FF;
    margin-bottom: 20px;
}

.inline-item {
    display: inline-block;
    margin-right: 0;
}

.inline-item-no-margin {
    display: inline-block;
}

img {
    border-radius: 50%;
    width: 50px;
    margin-top: 6px;
}

@media(max-width: 600px) {
    #avatar {
        display: none;
    }
}