<app-nav-item>
</app-nav-item>
<div class="container">
    <app-create-project-progress></app-create-project-progress>
    <div class="form-group">
        <label for="serach">Authorized members</label>
        <input type="text" class="form-control" placeholder="search">
    </div>
    <div class="row">
        <div class="col-sm-12">
            MEMBERS
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button class="btn btn-outline-primary mr-3" routerLink='/create-project'>Back</button>
            <button class="btn btn-outline-primary" routerLink='/create-project-tasks'>Next</button>
        </div>
    </div>
</div>