<div class="container">
    <form class="form-login">
        <h3 class="mt-3 mb-5 font-weight-normal text-center">Project management.</h3>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-danger">Password</small>
        </div>
        <p class="mt=3 mb-1 text-right"><a href="#">Forget password</a></p>
        <p class="text-right"><a routerLink='register'>Register</a></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink='/home'>Sign in</button>
    </form>
</div>