<div class="container">
    <form class="form-register">
        <h3 class="text-center font-weight-normal">Register</h3>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" id="firstname" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" id="lastname" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="section">Section</label>
            <select class="form-control" id="section">
                <option>71CV</option>
                <option>78CR</option>
                <option>75R2</option>
            </select>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
    </form>
</div>