<app-nav-item></app-nav-item>
<div class="container">
    <h3 class="font-weight-normal">Task detail</h3>
    <div class="form-group mt-4">
        <label for="task-name">Task name</label>
        <input id="task-name" class="form-control" type="text" placeholder="task name" readonly>
    </div>
    <div class="form-group">
        <label for="task-detail">Task detail</label>
        <input id="task-detail" class="form-control" type="text" placeholder="task detail" readonly>
    </div>
    <div class="form-group">
        MEMBERS
    </div>
    <div class="form-group">
        <label for="start-date">Start date</label>
        <input id="task-date" class="form-control" type="date" readonly>
    </div>
    <div class="form-group">
        <label for="end-date">End date</label>
        <input id="end-date" class="form-control" type="date" readonly>
    </div>
    <div class="form-group">
        <label for=work-hours>Work hours</label>
        <input id="work-hours" class="form-control" type="number" readonly>
    </div>
    <div class="form-group">
        <label for="task-creator">Task creator</label>
        <input id="task-creator" class="form-control" type="text" readonly>
    </div>
    <div class="form-group">
        <label for="task-created-date">Task created date</label>
        <input id="task-created-date" class="form-control" type="date" readonly>
    </div>
</div>